@page "/"

@using FastTrak.Shared.DTOs
@using FastTrak.Server.Services.IServices
@inject IUserService _userService

<PageTitle>Home Page</PageTitle>

<AuthorizeView>
    <Authorized>You are logged in</Authorized>
    <NotAuthorized>You are not logged in</NotAuthorized>
</AuthorizeView>




@*<h1>Sign Up</h1>
<input placeholder="username" @bind-value="registrationRequest.Username" />
<input placeholder="password" @bind-value="registrationRequest.Password" />
<button onclick="@(() => Register())">Register</button>
@if (registrationResponse.isSuccessful)
{
    <p>Registration Successful</p>
}
else
{
    <p>@registrationResponse.Errors</p>
}*@

@code {
    //RegistrationRequestDTO registrationRequest = new RegistrationRequestDTO();
    //RegistrationResponseDTO registrationResponse = new RegistrationResponseDTO();

    //private async void Register()
    //{
    //    registrationResponse = await _userService.Register(registrationRequest);
    //}
}


