@page "/login"

@using FastTrak.Shared.DTOs
@using Blazored.LocalStorage
@using FastTrak.Server.Services.IServices
@inject IUserService _userService
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<h3>Login</h3>

<EditForm Model="request" OnSubmit="HandleLogin">
    <label for="username">Name</label>
    <InputText id="username" @bind-Value="request.Username" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="request.Password" type="password" />
    <button type="submit" class="btn btn-primary">Do it!</button>
</EditForm>

@if (response.isSuccessful)
{
    <p>You have successfully logged in</p>
}
else
{
    <p>@response.Errors</p>
}

@code {
    AuthenticationRequestDTO request = new AuthenticationRequestDTO();
    AuthenticationResponseDTO response = new AuthenticationResponseDTO();

    async Task HandleLogin()
    {
        response = await _userService.Login(request);

        if (response.isSuccessful)
        {
            Console.WriteLine(response.Token);
            await LocalStorage.SetItemAsync("token", response.Token);
            await AuthStateProvider.GetAuthenticationStateAsync();
        }
    }
}

